@font-face {
    font-family: 'OpenSans-Light';
    src: url('/assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

body {
    background-color: #0F1414;
    color: #ffffff;
    font-family: 'OpenSans-Light';

    .component {
        margin: 180px 150px;
    }

    .white-divider {
        border-color: white;
    }

    .strong-caption {
        font-family: 'OpenSans-SemiBold';
    }

    .latest-image {
        margin-bottom: 10px;
        border-bottom: 4px solid #BE2E37;
        transition: border-color 0.3s;
    }
    .latest-image:hover {
        border-color: #ff6600; /* Add a glowing effect using a box shadow */
    }

    .read-more{
        text-decoration: none;
        border-bottom: 2px solid #BE2E37;
        line-height: 3;
        transition: border-color 0.3s;
    }

    .read-more:hover {
        border-color: #ff6600; /* Add a glowing effect using a box shadow */
    }
}

@media (max-width: 992px) {
    body {
        font-size: 0.8rem;
    }
}

@media (max-width: 765px) {
    body {
        .component {
            margin: 30px;
        }

        .big-image {
            max-width: 100%;
            /* Adjust the max height as needed */
        }

        .small-image {
            max-width: 100%;
            /* Adjust the max height as needed */
        }
    }
}

@media (max-width: 576px) {
    body {
        .component {
            margin: 30px;
        }

        .big-image {
            max-width: 90%;
            /* Adjust the max height as needed */
        }

        .small-image {
            max-width: 90%;
            /* Adjust the max height as needed */
        }
    }
}